// font variables
$Helvetica: 'Helvetica Neue', Helvetica, sans-serif;

// color variables
$white: #FFFFFF;
$black: #000000;

$mine-shaft: #232328;
$graphite: #999999;
$concrete: #E0E1E4;
$ghost: #F8F8F8;

$violet: #615872;
$lilac: #71637D;
$crimson: #A94442;
$verdant: green;
